<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Plots</title>

        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.js"></script>

        {{ plot_script }}

    </head>
    <body>
        {{ plot_divs }}
    </body>
</html>